
.box{
    position:relative;
    background-color:#6285F9;
    width:80%;
    margin: 30px auto;
}
.container h1{
    text-shadow: 2px 2px white;
    text-align: center;
    font-size: 100px;
    color:red;
    font-family: 'Nerko One', cursive;
}
.text-white{
    font-family: 'New Tegomin', serif;
    font-weight: 900;;
    color:white;
    text-transform: uppercase;
    font-size: 24px;
}
.col-6, .col-5{
    margin-top: 40px;
}
.col-12 img{
    width:100%;
    height:50px;
    margin-bottom:-3px;
}
.col-4 img{
    margin-bottom:-4px;  
}
.third{
    margin-top: 50px;
}
.col-8 img{
    height:100px;
    width:200px;
}
.last .col-12 {
    position:relative;
    bottom:0;
}
.text-center{
    text-align: center;
}